<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New item</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Add new items</h2>
    <h4>Fill the following details to add the item</h4>
    <form action="/home" method="post">
        <label for="name">Enter the name of the item</label>
        <input type="text" name="name" id="name" placeholder="Example: apple"> <br> <br><br>
        <label for="image">
   Enter the src for the image
        </label>
        <input type="text" name="image" id="src" placeholder="Example: img.jpg"> <br><br>
        <textarea name="content" id="content" cols="33" rows="5" placeholder="Enter the details about item"></textarea><br>
    
        <textarea name="content" id="content" cols="57" rows="5"
        placeholder="Enter Info in detail"></textarea><br>
        <button type="submit">Submit</button>
    </form>
    </body>
</html>